
.movie_div{
    display: flex;
    padding: 20px;
}

.movietitle{
    
}

.sidediv{

}
.year{

}
.type{

}
.details{

}
.image{
    height: 300px;
    padding-right: 10px;
}
.movielist{
    display: flex;
    flex-wrap: wrap;
}
.page_link{
    margin: 2px;
}
#pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

#pagination a {
    padding: 5px 10px;
    margin: 0 5px;
    text-decoration: none;
    color: #333;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#pagination a:hover {
    background-color: #f0f0f0;
}

#pagination a.active {
    background-color: #007bff;
    color: #fff;
}